.col-12{
    height: 200px;
}

.col-4{
    height: 200px;
}

.box1{
    background-color: rgb(0, 255, 106);
    height: 100px;
}

.box2{
    background-color: rgb(200, 34, 233);
    height: 100px;
}